/simulacaoSistemaOperacional/nbproject/private/
/simulacaoSistemaOperacional/build/
/simulacaoSemaforo/nbproject/private/
/simulacaoSemaforo/build/
/simulacaoPaginacao/nbproject/private/
/simulacaoPaginacao/build/
